.logo__container {
  height: 100px;
  text-align: start;
  width: 80%;
  /* background-color: chocolate; */
}
.logo__container > h2 {
  font-size: 35px;
  margin-top: 30px;
}
.nav__container {
  /* background-color: darkcyan; */
  color: white;
  width: 90%;
  z-index: 3;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 1px 3px rgba(12, 109, 255, 0.562), 0 1px 2px rgb(9, 95, 255);
}
.user__container {
  padding: 40px;
  width: 90%;
  display: flex;
  height: 500px;
  flex-direction: row;
  /* background-color: darkolivegreen; */
}

.roster__container {
  flex: 4;
  /* background-color: darkslategray; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}
.pokemon__container {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50%;
  justify-content: space-evenly;
}
.pokemon__panel-card {
  display: flex;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  flex-direction: row;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.pokemon__container > * {
  flex: 0 0 200px;
  margin: 10px;
}

.pokemon__panel-sprite {
  height: 75px;
  flex: 1;
}
.pokemon__panel-sprite {
  height: 75px;
  flex: 1;
}
.info__container {
  width: auto;
  margin-left: 40px;
  display: flex;
  flex: 3;
  /* background-color: darkslateblue; */
  flex-direction: column;
  align-items: space-between;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
}
.data__container {
  widows: 90%;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.parameter {
  flex: 1;
  font-size: 15px;

  /* background-color: rosybrown; */
}
.value {
  flex: 1;
  font-size: 25px;
  align-content: flex-start;
  justify-content: flex-start;
  color: rgb(12, 28, 255);
  /* background-color: salmon; */
}
.level {
  font-size: 10px;
}
.grass__type {
  box-shadow: 0 1px 3px rgba(43, 255, 24, 0.808),
    0 1px 2px rgba(43, 255, 24, 0.829);
}
.fire__type {
  box-shadow: 0 1px 3px rgba(255, 78, 24, 0.808),
    0 1px 2px rgba(255, 78, 24, 0.829);
}
.water__type {
  box-shadow: 0 1px 3px rgba(24, 86, 255, 0.808),
    0 1px 2px rgba(24, 86, 255, 0.829);
}
