.type {
  display: inline-block;
  width: 66px;
  margin-bottom: 4px;
  background: #dbdbdb;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 0.5rem;
  font-weight: normal;
  line-height: 1rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  transition: opacity 0.4s;
}
.types {
  display: inline-block;
  width: 44px;
  margin-bottom: 4px;
  background: #dbdbdb;
  border: 1px solid #a3a3a3;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #fff;
  font-size: 0.5rem;
  font-weight: normal;
  line-height: 1rem;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  transition: opacity 0.4s;
}
.grass {
  background-color: #7c5;
}
.fire {
  background-color: #f42;
}
.water {
  background-color: #39f;
}
.normal {
  background-color: #aa9;
}
.electric {
  background-color: #fc3;
}
.ice {
  background-color: #6cf;
}
.fighting {
  background-color: #b54;
}
.poison {
  background-color: #a59;
}
.ground {
  background-color: #db5;
}
.flying {
  background-color: #89f;
}
.psychic {
  background-color: #f59;
}
.bug {
  background-color: #ab2;
}
.rock {
  background-color: #ba6;
}
.ghost {
  background-color: #66b;
}
.dragon {
  background-color: #76e;
}
.dark {
  background-color: #754;
}
.steel {
  background-color: #aab;
}
.fairy {
  background-color: #e9e;
}
.grass__type {
  box-shadow: 0 1px rgba(43, 255, 24, 0.808), 0 2px rgba(43, 255, 24, 0.829);
}
.fire__type {
  box-shadow: 0 1px rgba(255, 78, 24, 0.808), 0 2px rgba(255, 78, 24, 0.829);
}
.water__type {
  box-shadow: 0 1px rgba(24, 86, 255, 0.808), 0 2px rgba(24, 86, 255, 0.829);
}
.none__type {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.22), 0 2px 2px rgba(0, 0, 0, 0.24);
}
.grass__button {
  background-color: #7c5 !important;
}
.fire__button {
  background-color: #f42 !important;
}
.water__button {
  background-color: #39f !important;
}
.normal__button {
  background-color: #aa9 !important;
}
.electric__button {
  background-color: #fc3 !important;
}
.ice__button {
  background-color: #6cf !important;
  color: #fff !important;
}
.fighting__button {
  background-color: #b54 !important;
}
.poison__button {
  background-color: #a59 !important;
}
.ground__button {
  background-color: #db5 !important;
}
.flying__button {
  background-color: #89f !important;
}
.psychic__button {
  background-color: #f59 !important;
}
.bug__button {
  background-color: #ab2 !important;
}
.rock__button {
  background-color: #ba6 !important;
}
.ghost__button {
  background-color: #66b !important;
}
.dragon__button {
  background-color: #76e !important;
}
.dark__button {
  background-color: #754 !important;
}
.steel__button {
  background-color: #aab !important;
  color: #000 !important;
}
.fairy__button {
  background-color: #e9e !important;
}
